/*
* Templates
*/
.template {
	background: $black;
}
.template-black {
	background: $black;

	h1, h2, p, a {
		color: $white;
	}

	.btn {

		&:hover {
			background: rgba(255, 255, 255, 0.2)
		}
	}

	span.line {
		background: $white;
	}
}
.template-white {
	background: $white;

	h1, h2, p, a {
		color: $black;
	}

	.btn {
		border: 1px solid $black;
		color: $black;

		&:hover {
			background: rgba(0, 0, 0, 0.2)
		}
	}

	span.line {
		background: $black;
	}
}
