<ion-view view-title="Game" class="template template-game template-black" hide-nav-bar="true">
    <ion-content class="padding">

        <!-- Invitation game template -->
        <div ng-if="invitation" class="template-invitation">

            <h1>Select friends</h1>

            <span class="line thin-line"></span>

            <div class="friends-list">
                <div class="users-list" ng-repeat="friend in friends" ng-click="addFriend(friend, $index)">
                    <span class="status" ng-class="friend.online ? 'online': 'offline'"></span>
                    <div class="picture">
                        <img ng-src="{{friend.picture.data.url}}" alt="" />
                    </div>
                    <div class="text">
                        <p class="name">
                            {{ friend.name }}
                        </p>
                    </div>
                    <div class="eq-icons">
                        <span class="eq-icon" ng-class="friend.selected ? 'eq-icon-checked': ''"></span></p>
                    </div>
                </div>
                <button class="btn fixed" ng-click="playGame()">Play</button>
            </div>

        </div>

        <!-- Waiting for users template -->
        <div ng-if="usersResponses.active" class="template-waiting">

            <h1>Waiting for players</h1>

            <span class="line thin-line"></span>

            <div class="friends-list" ng-repeat="participant in users">
                <div class="users-list" ng-if="$last == false">
                    <div class="picture">
                        <img ng-src="{{participant.picture.data.url}}" alt="" />
                    </div>
                    <div class="text">
                        <p class="name">
                            {{ participant.name }}
                        </p>
                    </div>
                    <div class="eq-icons">
                        <span class="eq-icon" ng-class="participant.invitation ? 'eq-icon-checked': 'eq-icon-refuse'"></span></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Game template -->

        <div ng-if="game" class="template-play template-black">

            <div class="timestamp">
                <p>
                    {{timer.min}} : {{timer.sec}}
                </p>
            </div>
            <span class="line thin-line"></span>
            <div ng-model="question" class="questions">
                <p>
                    {{question.questionText}}
                </p>
                <img class="questionPicture" ng-if="question.questionPicture" data-ng-src="{{question.questionPicture}}"/>

                <div class="response" ng-model="response" ng-if="question.answer[0] == 'text'">

                    <button class="btn" ng-click="sendResponse(1)">{{question.answer[1]}}</button>
                    <button class="btn" ng-click="sendResponse(2)">{{question.answer[2]}}</button>

                </div>

                <div class="response" ng-model="response" ng-if="question.answer[0] == 'image'">

                    <img ng-click="sendResponse(1)" data-ng-src="{{question.answer[1]}}"/>
                    <img ng-click="sendResponse(2)" data-ng-src="{{question.answer[2]}}"/>

                </div>

            </div>

            <div class="timeline">
                <div class="timeline-user" ng-repeat="u in users">
                    <span class="initials">{{u.initials}}</span>
                    <div class="line">
                        <div class="profile" style="left: {{u.position * 100 / 5}}%;">
                            <img ng-src="{{u.picture.data.url}}" alt="" />
                        </div>
                    </div>
                </div>
            </div>



        </div>


        <!-- Rank template -->
        <div class="template-ranking" ng-if="gameEnded">
            <h1>You finished !</h1>

            <span class="line thin-line"></span>
            <h2>Ranking</h2>
            <div class="friends-list" ng-repeat="participant in users | orderBy:'-score'">
                <div class="users-list">
                    <span class="index">{{$index + 1}}. </span>
                    <div class="picture">
                        <img ng-src="{{participant.picture.data.url}}" alt="" />
                    </div>
                    <div class="text">
                        <p class="name">
                            {{ participant.name }}
                        </p>
                    </div>
                    <div class="eq-icons">
                        <span class="eq-icon">{{participant.score}} pts</span></p>
                    </div>
                </div>
            </div>

            <span class="line thin-line"></span>
            <h2>Question list</h2>

            <div id="questionList">
                <div class="questions">
                    <div ng-repeat="q in questionList">
                        <p class="eq-text">
                            <span class="bullet bullet-white"></span>
                            {{ q.questionText }}
                        </p>
                        <img class="questionPicture" ng-if="q.questionPicture" data-ng-src="{{q.questionPicture}}"/>
                        <p class="description">
                            {{q.description}}
                        </p>
                        <div class="questionAnswer" ng-if="q.answer[0] == 'text'" ng-class="{'true-first': {{q.trueAnswer == 1}} }">
                            <p>{{q.answer[1]}}</p>
                            <p>{{q.answer[2]}}</p>
                        </div>
                        <div class="questionAnswer" ng-if="q.answer[0] == 'image'" ng-class="{'true-first': {{q.trueAnswer == 1}} }">
                            <img data-ng-src="{{q.answer[1]}}"/>
                            <img data-ng-src="{{q.answer[2]}}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
