<ion-view view-title="Game">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <button class="button button-assertive" style="margin:50px auto;display: block;" ng-click="playGame()">
      Select friends
    </button>

    <div style="text-align: center;" ng-model="question">

      <h1 class="title">{{question.questionText}}</h1>

      <p>{{question.description}}</p>

      <ion-list ng-model="response" ng-if="question.answer[0] == 'text'">

        <ion-radio  ng-value="'A'">{{question.answer[1]}}</ion-radio>
        <ion-radio  ng-value="'B'">{{question.answer[2]}}</ion-radio>

      </ion-list>

      <ion-list ng-model="response" ng-if="question.answer[0] == 'image'">

        <ion-radio ng-value="'A'">
          <img data-ng-src="{{question.answer[1]}}" style="height: 60px"/>
        </ion-radio>

        <ion-radio ng-value="'B'">
          <img data-ng-src="{{question.answer[2]}}" style="height: 60px"/>
        </ion-radio>

      </ion-list>

    </div>


  </ion-content>
</ion-view>
