<ion-view view-title="Account" class="template template-black template-account" hide-nav-bar="true">
    <ion-content>
        <div class="background" style="background:url('{{user.cover.source}}') no-repeat;"></div>
        <div class="wrapper">
            <div class="content">
                <div class="profile">
                    <div class="profile-picture">
                        <img ng-src="{{ user.picture.data.url }}" alt="" />
                    </div>
                    <p class="experience">xp <span>{{ experience }}</span> </p>
                    <p class="name">{{ user.name }}</p>
                </div>
                <span class="line thin-line"></span>
                <div class="profile-questions">
                    <h2>My questions </h2>
                    <div id="questions">
                        <div ng-repeat="q in questions">
                            <p class="eq-text">
                                <span class="bullet bullet-black"></span>
                                {{ q.questionText }}
                            </p>
                            <p class="eq-stats eq-gr">
                                Good answers <span>{{ q.stats[0] * 100 / (q.stats[0] + q.stats[1]) | number:1 }} %</span>
                            </p>
                            <p class="eq-stats eq-br">
                                Bad answers <span>{{ q.stats[1] * 100 / (q.stats[0] + q.stats[1]) | number:1 }} %</span>
                            </p>
                        </div>
                    </div>
                </div>
                <span class="line thin-line"></span>
                <div class="profile-ranking">
                    <h2>Ranking</h2>

                    <div class="users-list" ng-repeat="user in usersRanking">
                        <span class="index">{{$index + 1}}. </span> 
                        <div class="picture">
                            <img ng-src="{{user.profilePicture}}" alt="" />
                        </div>
                        <div class="text">
                            <p class="name">
                                {{ user.name }}
                            </p>
                            <p class="xp">
                                xp <span>{{user.experience}}</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- <button class="button button-danger" ng-click="logout()">Facebook Logout</button> -->
    </ion-content>
</ion-view>
