.template-game {


	.friends-list{

		width:80%;
		margin: 30px auto;

		.users-list {
			div.eq-icons{
				display: inline-block;
				vertical-align: middle;
				float: right;
				span{
					display: block;
					margin: 6px auto;
					width: 45px;
					height: 35px;
				}
			}
			> span.status{
				&.offline{
					&:before{
						content: '';
						border-radius: 50%;
						width: 12px;
						height: 12px;
						display: inline-block;
						vertical-align: middle;
						background-color: $red;
					}
				}
				&.online{
					&:before{
						content: '';
						border-radius: 50%;
						width: 12px;
						height: 12px;
						display: inline-block;
						vertical-align: middle;
						background-color: $green;
					}
				}

			}
		}

		.btn.fixed{
			vertical-align: bottom;
			bottom: 100px;
			position: fixed;
    		margin: 20px auto 30px auto;
			left: 0;
			right: 0;
		}

	}


	.template-ranking {

		.users-list {

			.index {
				color: $white;
			}
			div.eq-icons {
				span {
					color: $white;
					width: auto;
					line-height: 35px;
					font-weight: $font-medium;
				}
			}
		}

		.questions {

			.slick-dots {
				text-align: center;
				li {
					button {
						border-color: $white;
					}
					&.slick-active {
						button {
							background: $white;
						}
					}
				}
			}

			.questionPicture {

				max-height: 100px;
				display: block;
				margin: 10px auto;

			}

			.description {

				text-align: center;

			}

			.questionAnswer {
				margin: 10px auto;
				text-align: center;

				p {
					text-align: center;
					padding: 10px 0;
					border: 3px solid $white;
					display: inline-block;
					width: 40%;
				}
				img {
					border: 3px solid $white;
				}

				p:last-child, img:first-child {
					color: $green;
					border-color: $green;
				}

				&.true-first {
					p:first-child, img:first-child {
						color: $green;
						border-color: $green;
					}

					p:last-child, img:last-child {
						color: $white;
						border-color: $white;
					}
				}

				img {
					max-width: 40%;
				}
			}

			p {
				position: relative;
				text-align: left;
				padding: 0 10px;

				&.eq-text {
					margin-bottom: 10px;
				}

			}

		}

	}

	.template-play {


		.timestamp {
			margin-top: 20px;
			p {
				text-align: center;
				font-size: 50px;
			}

		}

		.questions {

			p {
				margin: 20px 0;
				font-size: 15px;
				padding: 0 30px;
			}

			.questionPicture {

				display: block;
				max-width: 250px;
				max-height: 100px;
				margin: 0 auto;

			}

			.response {
				text-align: center;
				margin-top: 20px;

				.btn {
					display: inline-block;
					width: 40%;
					padding: 20px 0;
				}

				img {
					max-height: 150px;
					max-width: 40%;
				}

			}

		}

		.timeline {

			position: absolute;
			bottom: 0px;

			width: 100%;

			.timeline-user {

				position: relative;

				margin: 20px auto;


				.initials {

					display: inline-block;
					vertical-align: middle;
					color: $white;

					margin-right: 10px;

				}

				.line {
					position: relative;

					width: 80%;
					height: 1px;

					vertical-align: middle;
					display: inline-block;

					background: $white;

				}

				.profile {

					position: absolute;

					top: -15px;

					width: 30px;
					height: 30px;

					border: 1px solid $white;
					border-radius: 50%;

					overflow: hidden;

					transition: all .5s ease;
					-webkit-transition: all .5s ease;

					img {
						max-width: 100%;

						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
					}

				}

			}

		}

	}

}


@import 'game/play';
