.template-game {

	.friends-list {
		p {
			cursor: pointer;

			color: grey;
			&.online {
				color: green;
			}

			&.selected {
				color: blue;
			}
		}
	}

	.questionListItem {
		
		.true-answer-1 {
			p:first-child() {
				color: green;
			}
		}
		.true-answer-2 {
			p:last-child() {
				color: green;
			}
		}
	}

}
