/*
* Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
h1, h2, h3, p, a, span {
	font-family: $font-family;
	font-weight: $font-light;
}
h1 {
	font-size: $font-size-h1;
	text-align: center;
	margin: 60px auto 40px auto;
}

h2 {
	text-align: center;
	font-size: $font-size-title;
	margin: 15px auto;
}
p {
	font-size: $font-size-content;
}

/*
* Tabs
*/
.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs {
	top: initial;
}

.pane[hide-nav-bar="true"] .has-tabs-top {
  top: 0px;
}

ion-tab{
  &.hidden{
    display: none;
  }
  &.visible{
    display: block;
  }
}

.tabs {
  background: $black;
  border-top: 1px solid $white !important;
}

.tabs-striped .tabs {
	background: $black;
	border-top: 1px solid $white !important;
    border-bottom: none;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border:none;
}

.tab-item, &.tab-item-active {
	color: $white !important;
}

.scroll {
	min-height: 100%;
}

/*
* Common
*/
.logo {

	display: block;

	max-width: 250px;

	margin: 50px auto 50px auto;

}

.btn {

	display: block;

	max-width: 250px;
	width: 100%;

	margin: 20px auto;
	padding: 25px 0;

	border: 1px solid $white;
	background: transparent;

	font-size: $font-size-btn;
	font-weight: $font-regular;

	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	&.btn-big {
		padding: 65px 0;

		font-size: $font-size-btn-big;
	}

	&.btn-small {
		padding: 20px 0;
	}

}

span.line {

	display: block;

	height: 1px;
	width: 80%;

	background: $white;

    margin: 40px auto 0 auto;

	&.thin-line {
		opacity: 0.4;
	}
}

span.bullet {

	position: absolute;
	left: 0px;
	top: 7px;
	display: inline-block;

	width: 5px;
	height: 5px;

	border-radius: 50%;

	&.bullet-black {
		border: 1px solid $black;
	}

	&.bullet-white {
		border: 1px solid $white;
	}

}

.users-list {

	position: relative;
	margin: 10px 0;

	.index {
		margin-right: 0px;
	}

	.picture {
		display: inline-block;
		vertical-align: middle;

		margin-left: 10px;

		width: 50px;
		height: 50px;

		border: 1px solid $white;
		border-radius: 50%;

		overflow: hidden;

		img {
			max-width: 100%;

			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}

	}

	.text {
		display: inline-block;
		vertical-align: middle;

		margin-left: 20px;

		.name {
			font-weight: $font-light;
		}
		.xp {
			text-transform: uppercase;
			span {
				font-weight: $font-medium;
			}
		}
	}

}

/*
* Slick Slider
*/
.slick-dots {

	margin-top: 20px;

    li {
        display: inline-block;
		button {

			width: 8px;
			height: 8px;

			padding: 0;
			margin: 0 5px;

			color: transparent;
			background: transparent;

			border-radius: 50%;
			border: 1px solid $black;
		}

		&.slick-active {
			button {
				background: $black;
			}
		}
    }
}


@import "partials/eq-icons";
@import "partials/input";
@import "partials/template";
@import "partials/slick";
