/*
* Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
h1, h2, h3, p, a {
	font-family: 'Rubik', sans-serif;
}
h1 {
	font-size: $font-size-h1;
}

/*
* Templates
*/
.template {
	background: $black;
}

/*
* Tabs
*/
.tabs {
	background: $black;
}
.tab-item.tab-item-active {
	color: $white;
}


/*
* Common
*/
.logo {

	display: block;

	max-width: 250px;

	margin: 50px auto 50px auto;

}

.btn {

	display: block;

	max-width: 250px;

	margin: 20px auto;
	padding: 25px 0;

	border: 1px solid $white;
	background: transparent;

	font-size: $font-size-btn;
	font-weight: $font-medium;

	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	&.btn-big {
		padding: 65px 0;

		font-size: $font-size-btn-big;
	}

	&.btn-small {
		padding: 20px 0;
	}

}
