<ion-view view-title="Question">
    <ion-content class="padding">
        <h2>Create a question</h2>

        <!-- form start -->
        <form role="form" name="addForm" novalidate ng-submit="addQuestion()">
            <!-- Question -->
            <div class="box">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Upload Question</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="questionText">Question text</label>
                            <input type="text" ng-model="newQuestion.questionText" class="form-control"
                                   id="questionText"
                                   placeholder="Enter Question">
                        </div>
                        <div class="form-group">
                            <label for="questionPicture">Question Picture</label>
                            <input type="file" id="questionPicture" fileread="newQuestion.questionPicture" ng-model="newQuestion.questionPicture">
                            <img data-ng-src="{{newQuestion.questionPicture}}"
                                 data-err-src="vendor/adminlte/img/avatar.png"
                                 style="height: 60px"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
            <!-- Answer -->
            <div class="box">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Upload Answer</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label for="answerType">Type</label>
                            <select class="form-control"  id="answerType" ng-model="newQuestion.answer[0]" required>
                                <option value="" disabled selected>Please select a type</option>
                                <option value="text" ng-model="answerType">Text</option>
                                <option value="image" ng-model="answerType">Image</option>
                            </select>
                        </div>

                        <div class="answer" ng-if="newQuestion.answer[0] == 'text'">
                            <div class="form-group">
                                <label for="answerTextOne">Response 1</label>
                                <input type="text" ng-model="newQuestion.answer[1]" class="form-control" id="answerTextOne"
                                       placeholder="Enter Answer One">
                            </div>
                            <div class="form-group">
                                <label for="answerTextTwo">Response 2</label>
                                <input type="text" ng-model="newQuestion.answer[2]" class="form-control" id="answerTextTwo"
                                       placeholder="Enter Answer Two">
                            </div>
                        </div>

                        <div class="answer" ng-if="newQuestion.answer[0] == 'image'">
                            <div class="form-group">
                                <label for="answerPictureOne">Picture 1</label>
                                <input type="file" id="answerPictureOne" fileread="newQuestion.answer[1]">
                                <img data-ng-src="{{newQuestion.answer[1]}}" data-err-src="vendor/adminlte/img/avatar.png"
                                     style="height: 60px"/>
                            </div>
                            <div class="form-group">
                                <label for="answerPictureTwo">Picture 2</label>
                                <input type="file" id="answerPictureTwo" fileread="newQuestion.answer[2]">
                                <img data-ng-src="{{newQuestion.answer[2]}}" data-err-src="vendor/adminlte/img/avatar.png"
                                     style="height: 60px"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.box -->
            <!-- Description -->
            <div class="box">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add a description</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="description">Question description</label>
                            <input type="text" ng-model="newQuestion.description" class="form-control" id="description"
                                   placeholder="Enter Description">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="alert alert-danger" ng-if="!success"><h4><i class="icon fa fa-ban"></i> Alert!</h4>Please fill out the
            parts "Upload Question", "Upload answer" and "Add a description".
        </div>

    </ion-content>
</ion-view>
