<ion-view view-title="Question" class="template template-question template-white" hide-nav-bar="true">
    <ion-content class="padding">

        <h1>Contribute</h1>
        <span class="line thin-line"></span>

        <!-- form start -->
        <form role="form" name="addForm" novalidate ng-submit="addQuestion()">
            <!-- Question -->
            <div class="box">
                <div class="box">
                    <div class="box-body">
                        <div class="form-group">
                            <span class="input input--nao">
				                <input class="input__field input__field--nao" type="text" id="questionText" ng-model="newQuestion.questionText"/>
					            <label class="input__label input__label--nao" for="questionText">
						            <span class="input__label-content input__label-content--nao">Question text</span>
					            </label>
					            <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					            </svg>
				            </span>
                        </div>
                        <div class="form-group">
                            <h2>Illustrate your question</h2>
                            <div class="eq-icons">
                                <div class="eq-icon" ng-click="openCamera('questionPicture', 'openCamera')"><span class="eq-icon-camera"></span></div>
                                <div class="eq-icon" ng-click="openCamera('questionPicture', 'openMedias')"><span class="eq-icon-files"></span></div>
                            </div>
                            <img ng-if="newQuestion.questionPicture" data-ng-src="{{newQuestion.questionPicture}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <span class="line thin-line"></span>
            <!-- /.box -->
            <!-- Answer -->
            <div class="box">
                <div class="box">
                    <div class="box-body">
                        <div class="form-group">
                            <select ng-model="newQuestion.answer[0]" required>
                                <option value="" disabled selected>Select a type of answer</option>
                                <option value="text">Text</option>
                                <option value="image">Image</option>
                            </select>
                        </div>

                        <div class="answer" ng-if="newQuestion.answer[0] == 'text'">
                            <div class="form-group">
                                <span class="input input--nao">
    				                <input class="input__field input__field--nao" type="text" id="answerTextOne" ng-model="newQuestion.answer[1]"/>
    					            <label class="input__label input__label--nao" for="answerTextOne">
    						            <span class="input__label-content input__label-content--nao">Response 1</span>
    					            </label>
    					            <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
    						            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
    					            </svg>
    				            </span>
                            </div>
                            <div class="form-group">
                                <span class="input input--nao">
    				                <input class="input__field input__field--nao" type="text" id="answerTextTwo" ng-model="newQuestion.answer[2]"/>
    					            <label class="input__label input__label--nao" for="answerTextTwo">
    						            <span class="input__label-content input__label-content--nao">Response 2</span>
    					            </label>
    					            <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
    						            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
    					            </svg>
    				            </span>
                            </div>
                            <div class="form-group answer trueAnswer"  ng-if="newQuestion.answer[1] != '' && newQuestion.answer[2] != ''">
                                <select ng-model="newQuestion.trueAnswer">
                                    <option value="" disabled selected>Select the good answer</option>
                                    <option ng-if="newQuestion.answer[1] != null && newQuestion.answer[1] != ''"
                                            value="1"
                                           >
                                            {{newQuestion.answer[1]}}
                                    </option>
                                    <option ng-if="newQuestion.answer[2] != null && newQuestion.answer[2] != ''"
                                            value="2"
                                           >
                                            {{newQuestion.answer[2]}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="answer" ng-if="newQuestion.answer[0] == 'image'">
                            <div class="form-group">
                                <p>Response 1</p>
                                <div class="eq-icons">
                                    <div class="eq-icon" ng-click="openCamera('answer1', 'openCamera')"><span class="eq-icon-camera"></span></div>
                                    <div class="eq-icon" ng-click="openCamera('answer1', 'openMedias')"><span class="eq-icon-files"></span></div>
                                </div>
                                <img ng-if="newQuestion.answer[1]" data-ng-src="{{newQuestion.answer[1]}}"/>
                            </div>
                            <div class="form-group">
                                <p>Response 2</p>
                                <div class="eq-icons">
                                    <div class="eq-icon" ng-click="openCamera('answer2', 'openCamera')"><span class="eq-icon-camera"></span></div>
                                    <div class="eq-icon" ng-click="openCamera('answer2', 'openMedias')"><span class="eq-icon-files"></span></div>
                                </div>
                                <img ng-if="newQuestion.answer[2]" data-ng-src="{{newQuestion.answer[2]}}"/>
                            </div>
                            <div class="form-group answer trueAnswer"  ng-if="newQuestion.answer[1] != '' && newQuestion.answer[2] != ''">
                                <select ng-model="newQuestion.trueAnswer">
                                    <option value="" disabled selected>Select the good answer</option>
                                    <option ng-if="newQuestion.answer[1] != null && newQuestion.answer[1] != ''"
                                            value="1"
                                           >
                                            Image 1
                                    </option>
                                    <option ng-if="newQuestion.answer[2] != null && newQuestion.answer[2] != ''"
                                            value="2"
                                           >
                                            Image 2
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="line thin-line"></span>
            <!-- /.box -->
            <!-- Description -->
            <div class="box">
                <h2>Add a description to your question</h2>
                <div class="form-group">
                    <span class="input input--nao">
                        <input class="input__field input__field--nao" type="text" id="description" ng-model="newQuestion.description"/>
                        <label class="input__label input__label--nao" for="description">
                            <span class="input__label-content input__label-content--nao">Question description</span>
                        </label>
                        <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                        </svg>
                    </span>
                </div>
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>

        <!-- <div class="alert alert-danger" ng-if="!success"><h4><i class="icon fa fa-ban"></i> Alert!</h4>Please fill out the
            parts "Upload Question", "Upload answer" and "Add a description".
        </div>
 -->
    </ion-content>
</ion-view>
